body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: max-content;
  height: auto;
  object-fit: contain;
}

.main {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.search {
}

.results {
  list-style: none;
  padding-left: 0;
}

.result {
  display: flex;
  justify-content: space-between;
}

.eligibility {
  margin: 0 3px;
  padding: 0 5px;
}

.eligibility.elig-true {
  border: 1px green solid;
  border-radius: 30%;
  background: green;
}

.eligibility.elig-false {
  border: 1px red solid;
  border-radius: 30%;
  background: red;
}
